p {
color:red; 
height:100; 
font:Arial;
}

#para1 {
color:blue; 
}

.toto {
color:orange; 
}

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 width:50%;
 }
td { 
 text-align:center;
 border-width:1px;
 border-style:solid; 
 border-color:black;
 width:10%;
 }

.libre {
float:left;
}
